{
    "AppId": "com.sap.mk.demo",
    "DestinationName": "com.sap.mk.demo",
    "OfflineEnabled": true,
    "LanguageURLParam": "sap-language",
    "OnlineOptions": {},
    "PathSuffix": "",
    "SourceType": "Mobile"
}